*{
  margin:0;
  padding:0;
   box-sizing: border-box;
}

html{
  height: 100%;
}
body {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color:rgba(252, 252, 252, 0.788);
  text-align:center;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1{
  margin-top:5%;
  margin-bottom: 10%;
  color: rgb(201, 118, 212);
  text-shadow: 0 0 80px rgba(104, 26, 78, 0.877);
  height:10%;
  text-transform: uppercase;
}





/* CSS DE LOS BOTONES CON ANIMACION */
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.container {
  width: 10vw;
  height: 10vh;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #a83e9b;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

main{
height: 30rem;
text-align: center;
margin:auto;
}


