body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color:rgba(252, 252, 252, 0.938);
    overflow: auto;
  overflow-x: hidden;
  }

  .pCentrado{
    text-align: center;
  }

  .row{
 margin-top:2%;
  }

  header{
      font-family: 'Gloria Hallelujah', cursive;
      margin-top:6%;
  }