    body {
    font-family: 'Press Start 2P', cursive;
    background: #090d00;
    color:rgba(252, 252, 252, 0.938);
    text-align:justify;
    overflow: auto;
    }

    header{
    color: rgb(201, 118, 212);
    margin-top: 5%;
    }

    #principal{
    margin-top: 4%;
    }

    footer{
    font-family: 'Gloria Hallelujah', cursive;
    margin-top:6%;
    }

    #texto{
    margin-top:1%;
    padding: 3%;
    border:solid;
    border-radius: 20px;
    border-color: blueviolet;
    }

    .table{
        background-color: #732084;
        color:white;
        text-align: center;
    }