* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgba(252, 252, 252, 0.788);
    text-align: center;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.mainHome {
    color: rgba(253, 158, 237, 0.801);
    text-align: center;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

audio {
    width: 50vw;
    height: 3vh;
    margin-top: 2vh;
    align-self: center;
}

#pPrincipal {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(68, 35, 60, 0.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    display: block;
    z-index: -1;
}
#sPrincipal {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(104, 26, 78, 0.5);
    -webkit-text-stroke: 0.5px rgb(83, 70, 79);
    /* Clip Background Image */
    background: url(https://i.ibb.co/Z2gHBDw/relleno-Letras.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 500s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/*CSS COOKIES */

.aviso-cookies {
    color: black;
    display: none;
    background: #fff;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 300px;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(139, 16, 16, 0.25);
    text-align: center;
}

.aviso-cookies.activo {
    display: block;
}

.aviso-cookies .galleta {
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
    margin-bottom: 15px;
}

.aviso-cookies .boton {
    width: 100%;
    background: #ec8cd4;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.aviso-cookies .boton:hover {
    background: #000;
}

.aviso-cookies .enlace {
    color: #ac4295;
    text-decoration: none;
    font-size: 14px;
}

.fondo-aviso-cookies {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.fondo-aviso-cookies.activo {
    display: block;
}

/*PARTE BOTONES*/

.container {
    text-align: center;
    margin-top: 50vh;
}
.btn {
    width: 40%;
    background-color: transparent;
    border-color: #ac4295;
}

.btn:hover {
    color: #fff;
    background-color: #76118a;
    border-color:#76118a ;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
}

/* MEDIA QUERIES */

@media only screen and (min-device-width: 270px) and (max-device-width: 480px) and (orientation: portrait) {
    body {
        font-size: 0.55rem;
    }

    .container {
        top: 55%;
        font-size: 1.5rem;
    }

    #pPrincipal {
        margin-top: 20%;
    }

    #formulario {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar {
        font-size: 1.5rem;
    }
    audio {
        width: 90vw;
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (orientation: landscape) {
    #pPrincipal {
        margin-top: 7vh;
    }
    .container {
        margin-top: 50vh;
        font-size: 1.5rem;
    }
    #formulario {
        width: 50%;
        margin-left: 25vw;
    }
    audio {
        height: 5vh;
    }
}
