*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
    color:rgba(252, 252, 252, 0.788);
    overflow: auto;
    overflow-x: hidden;
    background-image: url(../img/imagenFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
    min-height: 100vh;
   
}


header{
  color: rgb(201, 118, 212);
  margin-top: 5%;
  }

  footer{
    margin-top:5%;
    }

    main{
      margin-top: 13%;
      }

      button{
        margin: auto;
        width: auto;
        height: 10vh;
      }

      #facil{
        margin-bottom: 5%;
      }

      .modo {
        width: 10rem;
        background-color: #090d00;
        border-color: #ac4295;
        font-family: 'Press Start 2P', cursive;
        font-size: 1rem;
        
    }
    
    .modo:hover {
        color: #fff;
        background-color: #76118a;
        border-color:#76118a ;
    }

    .atras{
      margin-bottom: 5%;
      height: 5vh;
    }

    .categoria {
      width: 12rem;
        background-color: #090d00;
        border-color: #ac4295;
        font-family: 'Press Start 2P', cursive;
        font-size: 1rem;
    }

    .categoria:hover {
      color: #fff;
      background-color: #76118a;
      border-color:#76118a ;
  }