
body {
  font-family: 'Gloria Hallelujah', cursive;
  background: #090d00;
  color:rgba(252, 252, 252, 0.788);
  overflow: auto;
  overflow-x: hidden;
  background-image: url(../img/imagenFondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  min-height: 100vh;
}

#titulo{
  color: rgb(201, 118, 212);
  text-shadow: 0 0 80px rgba(104, 26, 78, 0.877);
}

.row {
margin-top:6%;
}

/* FORMULARIO */
.acceso {
  color:#ac4295;
  background-color:transparent;
  border-color: #ac4295;
  margin-top:6%;
}

.acceso:hover{
  color: #fff;
  background-color: #76118a;
  border-color:#76118a;
}

small{
  color:red;
  font-size: 0.5rem;
}

form {
  margin-top: 15%;
}

footer {
  margin-top: 5%;
}
